@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --surface-default: 246 246 246;
    --surface-inverse: 17 17 17;
    --surface-primary: 52 79 204;

    --foreground-default: 0 0 0;
    --foreground-inverse: 255 255 255;
    --foreground-secondary: 87 87 87;
    --foreground-primary: 52 79 204;
    --foreground-on-primary: 255 255 255;

    --border: 141 141 141;
    --border-primary: 52 79 204;
    --border-secondary: 87 87 87;

    --radius: 0.5rem;
  }

  .dark {
    --surface-default: 18 18 18;
    --surface-inverse: 246 246 246;
    --surface-primary: 250 190 102;

    --foreground-default: 255 255 255;
    --foreground-inverse: 0 0 0;
    --foreground-secondary: 194 194 194;
    --foreground-primary: 250 190 102;
    --foreground-on-primary: 255 255 255;

    --border: 246 246 246;
    --border-primary: 250 190 102;
    --border-secondary: 194 194 194;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-surface text-foreground;
  }
}

h2 {
  @apply text-foreground-secondary font-mono font-medium uppercase text-sm;
}

h3 {
  @apply font-medium;
}

.pin-city {
  @apply bg-emerald-500/30;
  @apply border-emerald-500/60;
}
.pin-landmark {
  @apply bg-indigo-500/30;
  @apply border-indigo-500/60;
}
.pin-gem {
  @apply bg-yellow-500/30;
  @apply border-yellow-500/60;
}

.mapboxgl-popup-content {
  padding-bottom: 10px !important;
}

.header-highlight {
  @apply text-foreground font-normal;
}

.link {
  @apply flex flex-row items-center space-x-2 text-foreground-primary font-normal border-b border-border-primary w-max hover:font-medium;
}

.right-col {
  @apply md:w-[400px];
}

.home-paragraph {
  @apply flex flex-col flex-1 space-y-4 leading-snug;
}
