@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --surface-default: 255 255 255;
    --surface-inverse: 0 0 0;
    --surface-secondary: 0 0 97;
    --surface-accent-primary: 269 100 94;
    --surface-accent-secondary: 32 100 87;

    --foreground-default: 0 0 0;
    --foreground-inverse: 255 255 255;
    --foreground-secondary: 0 0 55;
    --foreground-tertiary: 0 0 29;
    --foreground-on-accent: 255 255 255;

    --border: 0 0 55;
    --border-secondary: 0 0 29;

    --radius: 0.5rem;
  }

  .dark {
    --surface-default: 0 0 0;
    --surface-inverse: 255 255 255;
    --surface-secondary: 0 0 17;
    --surface-accent-primary: 269 100 94;
    --surface-accent-secondary: 32 100 87;

    --foreground-default: 255 255 255;
    --foreground-inverse: 0 0 0;
    --foreground-secondary: 0 0 59;
    --foreground-tertiary: 0 0 89;
    --foreground-on-accent: 255 255 255;

    --border: 0 0 59;
    --border-secondary: 0 0 89;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-surface text-foreground;
  }
}
