@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --surface-default: 255 255 255;
    --surface-inverse: 0 0 0;
    --surface-secondary: 134 134 134;

    --foreground-default: 0 0 0;
    --foreground-inverse: 255 255 255;
    --foreground-secondary: 134 134 134;

    --border: 134 134 134;

    --radius: 0.5rem;
  }
  .dark {
    --surface-default: 0 0 0;
    --surface-inverse: 255 255 255;
    --surface-secondary: 168 168 168;

    --foreground-default: 255 255 255;
    --foreground-inverse: 0 0 0;
    --foreground-secondary: 168 168 168;

    --border: 168 168 168;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-surface text-foreground;
  }
}

/* COMMON */

h2 {
  @apply font-medium;
}

.wrapper {
  @apply max-w-[800px] mx-auto px-4 md:px-0;
}

.link--hovered {
  @apply hover:text-foreground-secondary;
}

/* HEADER */

.header__container {
  @apply flex flex-row justify-between items-baseline py-4 border-b;
}

.nav__list {
  @apply flex flex-row gap-4 md:gap-8;
}

.nav__item {
  @apply text-foreground-secondary hover:text-foreground;
}

.nav__item--active {
  @apply text-foreground font-medium;
}

/* HERO HEADER */
.hero__container {
  @apply flex flex-col gap-6;
}

.hero__text {
  @apply flex flex-col gap-2 text-xl font-medium text-foreground-secondary;
}

.hero__text--emphasis {
  @apply text-foreground;
}

.hero__cta {
  @apply flex flex-row items-center gap-2 font-medium text-lg;
}

/* CONTENT */
.content__section {
  @apply py-8 border-t;
}

.about__wrapper {
  @apply flex flex-row gap-3 items-baseline;
}

.about__bullet {
  @apply w-2 h-2 bg-foreground-secondary;
}

.about__text {
  @apply flex-1;
}

.about__link {
  @apply underline underline-offset-4 link--hovered;
}

/* MAP */

.pin-city {
  @apply bg-emerald-500/30;
  @apply border-emerald-500/60;
}
.pin-landmark {
  @apply bg-indigo-500/30;
  @apply border-indigo-500/60;
}
.pin-gem {
  @apply bg-yellow-500/30;
  @apply border-yellow-500/60;
}

.mapboxgl-popup-content {
  padding-bottom: 10px !important;
}
